
    @media(min-width: 768px) {
        #wrapper {
            padding-top: 5%;
            padding-right: 5%;
            padding-left: 5%;
        }        
    }
    @media(min-width: 992px) {
        #wrapper {
            padding-top: 5%;
            padding-right: 30%;
            padding-left: 30%;
        }
    }
    body {
        background-color: #fff;
    }
