<input type="hidden" name="page" ng-model="page" ng-init="page='Dépenses'" />
<div id="page-wrapper">

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Tableau de bord des dépenses pour l'année civile {{currentDate.year}}
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-table"></i><a ng-if="index !== 1" ng-click="changePage(1)"> Dépenses</a><span ng-if="index === 1"> Dépenses</span>
                    </li>
                    <li>
                        <i class="fa fa-table"></i><a ng-if="index !== 2" ng-click="changePage(2)"> Dépenses Liquide</a><span ng-if="index === 2"> Dépenses Liquide</span>
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-easy16i">
                    <div class="panel-heading">
                        <h3 class="text-center">
                            <i class="fa fa-table"></i>
                            <span ng-if="index === 1">Dépenses</span>
                            <span ng-if="index === 2">Dépenses Liquide</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div ng-if="dashboard !== undefined" class="table-responsive">
                            <table id="table1" class="table table-bordered table-hover table-striped table-easy16i-dashboard">
                                <thead>
                                    <tr>
                                        <th>{{currentDate.year}}</th>
                                        <th ng-repeat="month in months">{{month | capitalize}}</th>
                                        <th>Total Par Nature</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ligne in dashboard">
                                        <td><strong>{{ligne.title | capitalize}}</strong></td>
                                        <td ng-repeat="x in ligne.month track by $index">{{x !== 0 ? (x | currency) : null}}</td>
                                        <td><strong>{{ligne.totalNature !== 0 ? (ligne.totalNature | currency) : null}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="alert alert-info" ng-if="dashboard === undefined">
                            <i class="fa fa-info-circle"></i> Vous pouvez lancer les calculs de l'année civile <strong>{{currentDate.year}}</strong> les données sera modifiable via les masques de saisie avant la validation de l'administrateur.
                        </div>
                        <div class="form-group pull-right" ng-if="dashboard === undefined">
                            <button type="button" class="btn btn-easy16i" ng-click="displaySpending()">Lancer les calculs avant consultation</button>
                        </div>
                        <button class="btn btn-link pull-right" ng-if="dashboard !== undefined" ng-click="exportToExcel('#table1')">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
